/* src/input.css */
@import "tailwindcss";

/* Tu clase personalizada sigue funcionando igual */

@theme {
  --shadow-3xl: 0 30px 25px rgba(0, 0, 0, 0.5);
  --shadow-l: 0 0 20px rgba(0, 0, 0, 0.5);
  --blur-xs: 2px;
}
@utility no-scrollbar {
  /* Firefox */
  scrollbar-width: none; 
  /* IE y Edge */
  -ms-overflow-style: none; 
  
  /* Chrome, Safari y Opera (usando anidamiento con &) */
  &::-webkit-scrollbar {
    display: none; 
  }
}
button{
  @apply cursor-pointer
}
body{
  @apply bg-zinc-900 text-white items-center justify-center min-h-screen flex flex-col w-full pb-10
}

nav{
  @apply md:bg-zinc-900/90 bg-white fixed rounded-full bottom-0 md:top-0 md:bottom-auto overflow-x-auto no-scrollbar flex flex-row justify-center gap-2 md:gap-4 p-2 m-3 z-20 items-center 
}
nav button{
  @apply bg-zinc-800 hover:bg-orange-300  focus:bg-orange-500 active:text-black py-1 px-4 md:mx-2 rounded-full flex gap-4 justify-center items-center w-9 md:w-auto
}
button img{ 
  @apply  min-h-4 min-w-4 max-h-4 max-w-4
}
nav p{ /*hidden md:block Oculto en moviles, se muestra en pantallas grandes*/
  @apply hidden md:block font-light
}
.contenedorPresentacion { /**md:grid-cols-[1fr_1fr_minmax(0,350px)] define el ancho maximo de la col-3*/
  @apply  mb-5 mt-2 px-3 md:pt-12 md:m-3 grid grid-cols-2 grid-rows-3 md:grid-cols-[minmax(0,500px)_minmax(0,800px)_minmax(0,300px)] md:grid-rows-2 text-white font-bold text-left 
}
.fullstackText {
  @apply col-start-1 row-start-1 text-5xl md:text-8xl md:col-span-2 font-black font-mono flex justify-start items-end md:tracking-widest
}

.jrText {
  @apply col-start-1 row-start-2 md:col-start-2 md:row-start-2 text-3xl md:text-7xl md:font-bold font-mono italic flex items-start md:relative md:-top-4 md:-right-4 md:tracking-wide
}

.miDescripcion {
  @apply  col-start-1 col-span-2 row-start-3 md:col-span-1 md:row-start-2 max-w-[500px] md:min-w-[200px] flex items-start 
}
.p-normal{
  @apply md:relative md:left-2 text-gray-400 italic text-sm md:text-base font-normal
}
.p-bold{
  @apply font-semibold italic text-white
}

.foto{
  @apply col-start-2 row-start-1 row-span-2 md:col-start-3 md:row-start-1 md:row-span-2 md:col-span-1 flex items-center justify-center 
}
.foto img{
  @apply rounded-full object-cover h-[190px] w-[190px] md:min-h-[300px] md:min-w-[300px] shadow-l shadow-zinc-500
}

.redes{
  @apply  w-full flex gap-4 justify-center italic font-extralight
}
.redes button{
  @apply flex flex-row items-center justify-center gap-4 border border-white hover:shadow-sm hover:shadow-gray-400  active:text-black px-6 md:mx-2 rounded-full
}
.redes img{ 
  @apply  h-8 w-8 my-2
}
.redes p{ /*hidden md:block Oculto en moviles, se muestra en pantallas grandes*/
  @apply hidden md:block
}
.contenedorCarouselSlides {
  @apply relative h-64 md:h-80 w-full mx-auto py-9 overflow-hidden
}
.carouselSlides {
  @apply relative w-full h-full flex justify-center items-center
}
.tarjeta {
  @apply absolute left-1/2 top-1/2 w-75 h-50 md:w-150 md:h-50 bg-white rounded-2xl flex items-center justify-center font-bold shadow-gray-600 transition-all duration-300
}
.tarjeta h1{
  @apply text-lg font-bold
}
.tarjeta p{
  @apply text-sm font-light
}

.prevBtn {
  @apply absolute left-3 top-1/2 -translate-y-1/2 bg-black/50 text-white p-3 rounded-full hover:bg-black/80 transition z-20
}
.nextBtn {
  @apply absolute right-3 top-1/2 -translate-y-1/2 bg-black/50 text-white p-3 rounded-full hover:bg-black/80 transition z-20
}

.descripcionProyecto{
  @apply bg-black/50 absolute right-0 w-7/10 h-full rounded-r-2xl p-3
}

.aboutMe{
  @apply w-full h-full grid grid-cols-1 md:grid-cols-[minmax(0,200px)_minmax(0,800px)] items-center justify-start gap-4 md:gap-8 p-4 md:p-8
}

.skillContainer{
  @apply w-full h-full justify-start flex flex-col p-4 md:p-8 gap-5
}

.skillContainer h1{
  @apply text-3xl md:text-5xl font-semibold italic text-white drop-shadow-l shadow-white
}

.skillTitle{
  @apply text-xl md:text-2xl font-semibold italic text-white
}

.skillsSection{
  @apply border-white border-2 w-full h-full flex flex-wrap gap-4 md:gap-8 p-4 items-center md:justify-start justify-center
}

.stackItem{
  @apply flex flex-col gap-2 items-center justify-center hover:scale-105 transition p-1
}

.stackIcon{
  @apply rounded-full flex items-center justify-center p-4
}

.stackIcon img{
  @apply  h-11 w-11 md:h-15 md:w-15 
}