<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio - Tailwind v4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    
        <nav>
            <button href=""><img src="/static/images/home-svgrepo-com.svg" alt=""> <p>Home</p></button>
            <button href=""><img src="/static/images/work-alt-svgrepo-com.svg" alt=""> <p>Projects</p></button>
            <button href=""><img src="/static/images/profile-round-1342-svgrepo-com.svg" alt=""> <p>About</p></button>
            <button href=""><img src="/static/images/window-dev-tools-svgrepo-com.svg" alt=""> <p>Skills</p></button>
            <button href=""><img src="/static/images/experience-svgrepo-com.svg" alt=""> <p>Experience</p></button>
            <button href=""><img src="/static/images/school-svgrepo-com.svg" alt=""> <p>Education</p></button>
            <button href=""><img src="/static/images/phone-svgrepo-com.svg" alt=""> <p>Contact</p></button>          
        </nav>

    <div class="contenedorPresentacion">
    <!--    <div class="grupoTextos"> -->
            <div class="fullstackText">
                Full-stack
            </div>

            <div class="jrText">
                jr. Developer
            </div>

            <div class="miDescripcion">
                <p class="p-normal">Soy un apasionado por el Front-end, me gusta mucho aprender usando la IA, si me tuviera que definir en una palabra, sería <span class="p-bold">aferrado</span>, en el buen sentido, claro. No desisto de un problema hasta resolverlo y busco por distintos panoramas. 
                    Mi nombre es <span class="p-bold">Joaquin</span> y soy su mejor opcion ;).</p>
            </div>

        <div class="foto">
            <img src="static/images/miFoto.jpeg" alt="foto">
        </div> 
    </div>

    <div class="redes">
        <button href="https://github.com/Monreaal"> <img src="/static/images/github-dark.svg" alt=""><p>Github</p></button>
        <button href="https://www.linkedin.com/in/joaquin-romero-monreal-447b45332/"><img src="/static/images/linkedin.svg" alt=""><p>Linkedin</p></button>
        <button href="https://www.instagram.com/flamemonreal/"><img src="/static/images/instagram-mono.svg" alt=""><p>Instagram</p></button>
    </div>
        <div class="contenedorCarouselSlides">

            <div class="carouselSlides">
                <div class="tarjeta" style="background-image:url('/static/images/bgExample.jpg');">
                    <div class="descripcionProyecto">
                        <h1>Proyecto</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti voluptate culpa et iste minima iusto, nulla ut eligendi eius.</p>
                    </div>
                </div>
                <div class="tarjeta" style="background-image:url('/static/images/bgExample.jpg');">
                    <div class="descripcionProyecto">
                        <h1>Proyecto</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti voluptate culpa et iste minima iusto, nulla ut eligendi eius.</p>
                    </div>
                </div>
                <div class="tarjeta" style="background-image:url('/static/images/bgExample.jpg');">
                    <div class="descripcionProyecto">
                        <h1>Proyecto</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti voluptate culpa et iste minima iusto, nulla ut eligendi eius.</p>
                    </div>
                </div>
                <div class="tarjeta" style="background-image:url('/static/images/bgExample.jpg');">
                    <div class="descripcionProyecto">
                        <h1>Proyecto</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti voluptate culpa et iste minima iusto, nulla ut eligendi eius.</p>
                    </div>
                </div>
            </div>

            <button class="prevBtn">
                ❮
            </button>

            <button class="nextBtn" >
                ❯
            </button>
        </div>
    
    <div class="aboutMe">
                <h2>.../About me...</h2>
                <p class="p-normal">Soy un apasionado por el Front-end, me gusta mucho aprender usando la IA, si me tuviera que definir en una palabra, sería <span class="p-bold">aferrado</span>, en el buen sentido, claro. No desisto de un problema hasta resolverlo y busco por distintos panoramas. 
                    Mi nombre es <span class="p-bold">Joaquin</span> y soy su mejor opcion ;).</p>
    </div>
    
    <div class="skillContainer">

        <h1 style="filter: drop-shadow(rgb(233, 231, 234) 0px 0px 10px);">Mis Habilidades</h1>
        <p class="p-normal">A continuación se muestran algunas de las habilidades que he adquirido a lo largo de mi carrera como desarrollador web. 
            Estas habilidades me permiten crear aplicaciones web modernas y eficientes, así como también trabajar en equipo y resolver problemas de manera efectiva.</p>

        <h2 class="skillTitle">Front-end</h2>
            
        <div class="skillsSection">
            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(242, 78, 30) 0px 0px 10px); border: 4px solid rgb(242, 78, 30);">
                    <img src="/static/images/skills/html5.svg" alt="HTML">
                </div>
                <p>HTML</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(30, 140, 242) 0px 0px 10px); border: 4px solid rgb(30, 140, 242);">
                    <img src="/static/images/skills/css3.svg" alt="CSS">
                </div>
                <p>CSS</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(242, 78, 30) 0px 0px 10px); border: 4px solid rgb(242, 78, 30);">
                    <img src="/static/images/skills/html5.svg" alt="HTML">
                </div>
                <p>HTML</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(30, 140, 242) 0px 0px 10px); border: 4px solid rgb(30, 140, 242);">
                    <img src="/static/images/skills/css3.svg" alt="CSS">
                </div>
                <p>CSS</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(242, 78, 30) 0px 0px 10px); border: 4px solid rgb(242, 78, 30);">
                    <img src="/static/images/skills/html5.svg" alt="HTML">
                </div>
                <p>HTML</p>
            </div>
        </div>

        <h2 class="skillTitle">Front-end</h2>
        <div class="skillsSection">

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(242, 78, 30) 0px 0px 10px); border: 4px solid rgb(242, 78, 30);">
                    <img src="/static/images/skills/html5.svg" alt="HTML">
                </div>
                <p>HTML</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(30, 140, 242) 0px 0px 10px); border: 4px solid rgb(30, 140, 242);">
                    <img src="/static/images/skills/css3.svg" alt="CSS">
                </div>
                <p>CSS</p>
            </div>

            <div class="stackItem">
                <div class="stackIcon" style="filter: drop-shadow(rgb(30, 140, 242) 0px 0px 10px); border: 4px solid rgb(30, 140, 242);">
                    <img src="/static/images/skills/css3.svg" alt="CSS">
                </div>
                <p>CSS</p>
            </div>
        </div>

    </div>

<script src="/static/js/scripts.js"></script>
</div>
</body>
</html>