<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio - Tailwind v4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    
        <nav>
            <button href="">home</button>
            <button href="">home</button>
            <button href="">home</button>
            <button href="">home</button>            
        </nav>

    <div class="contenedorPresentacion">
    <!--    <div class="grupoTextos"> -->
            <div class="fullstackText">
                Full-stack
            </div>

            <div class="jrText">
                jr. Developer
            </div>

            <div class="miDescripcion">
                <p>Soy un apasionado por el Front-end, me gusta mucho aprender usando la IA, si me tuviera que definir en una palabra, sería <span class="resaltado">aferrado</span>, en el buen sentido, claro. No desisto de un problema hasta resolverlo y busco por distintos panoramas. 
                    Mi nombre es <span class="resaltado">Joaquin</span> y soy su mejor opcion ;).</p>
            </div>
     <!--    </div> -->

        <div class="foto">
            <img src="static/images/miFoto.jpg" alt="foto">
        </div> 
    </div>

        <div class="contenedorCarouselSlides">

            <div class="carouselSlides">
                <div class="tarjeta">
                Slide 1
                </div>
                <div class="tarjeta">
                Slide 2
                </div>
                <div class="tarjeta">
                Slide 3
                </div>
                <div class="tarjeta">
                Slide 4
                </div>
                <div class="tarjeta">
                Slide 5
                </div>

            <!-- Botón Anterior -->
            <button class="prevBtn">
                ❮
            </button>

            <!-- Botón Siguiente -->
            <button class="nextBtn" >
                ❯
            </button>
        </div>

</div>
</body>
</html>